PORT=3333
NODE_ENV=development
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
DB_FILE=./data/petshop.sqlite
CORS_ORIGIN=*

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-de-app
SMTP_FROM=MR Racoes <seu-email@gmail.com>
SIGNUP_CODE_EXPIRES_MINUTES=10
